[Unit]
Description=Mystic Lights keyboard controller service

[Service]
Type=dbus
BusName=org.hattyot.MysticLightRGB
ExecStart=/usr/local/bin/mystic-lights-controller

[Install]
WantedBy=default.target
